In [21]:
import pandas as pd
import numpy as np

In [38]:
x = np.array([['\\',3,np.nan,np.nan], [0,'\\', np.nan, np.nan], [np.nan,np.nan,'\\',3], [np.nan,np.nan,0,'\\']])
col = np.array(['SYR','TAY','ANH','BST'])

In [39]:
df = pd.DataFrame(data = x, index = col, columns = col)
df

,SYR,TAY,ANH,BST
SYR,\,3,nan,nan
TAY,0,\,nan,nan
ANH,nan,nan,\,3
BST,nan,nan,0,\